<% provide( :title, "Works" ) %>
<%= render "head_contents" %>

<div class="envelope">
  <%= render "shared/default_grid", :draggable => false, :emphasize_highlighted => false, :active_record_object => Work %>
</div>

<% if user_signed_in? %>
  <span class="add_new"><%= link_to 'Add New Item', new_work_path %></span>
<% end %>
