<%= form_for(@video_work) do |f| %>
  <% if @video_work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video_work.errors.count, "error") %> prohibited this video_work from being saved:</h2>

      <ul>
      <% @video_work.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
