// Place all the styles related to the current_projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content_progress 
{
  display: table-cell;
  width: 228px;
  border-left: #444444 1px solid;
  padding-top: 10px;

  .progress_bar 
  {
    width: 0;
    height: 15px;
    border-radius: 10px;
    margin: 10px 0 0 10px;

    img
    {
      vertical-align: baseline;
    }
  }
}

