// Place all the styles related to the landing_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* TODO: color of background is too dark. find out a way to make it more blue so it looks more like the mockup */
/* TODO: clean up old comments after page is fully functional */
* {
  margin: 0;
  padding: 0;
}
.top {
  z-index: 1000;
}

html, body, nav, ul {
  height: 100%;
}

nav {
  /* background: url("/assets/landing-page-lines.png") no-repeat center center fixed; */
  /* -webkit-background-size: cover; */
  /* -moz-background-size: cover; */
  /* -o-background-size: cover; */
  /* background-size: cover; */
}

body {
  background: url("http://i.imgur.com/vHA8Mke.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

nav {
  /* width: 100%; */
  /* display: table; */
}
  
nav a {
  color: white;

  &:hover {
    text-decoration: none;
    color: white;
  }
}

.nav-table {
  width: 100%;
  height: 100%;
  display: table;
  position: absolute;
}

.nav-row {
  display: table-row;
  width: 100%;
  height: 100%;
  /* position: absolute; */
  top: 0;
}

/* .nav-cell { */
/*   display: table-cell; */
/*   position: relative; */
/*   top: 0; */
/*   /* height: 100%;  */
/*   width: 20%; */
/*   text-align: center; */
/* } */

.nav-element {
  display: table-cell;
  position: relative;
  /* top: 0; */
  height: 100%;
  width: 20%;
  text-align: center;
  font-size: 1.1em;
  font-family: khmer;
  padding: 5% 2% 0 2%;
}

.sensor {
  position: absolute;
  display: inline-block;
  top: 0;
  height: 100%;
  width: 20%;
  /* background-color: black; */
  /* -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; */
  /* filter: alpha(opacity=40); */
  /* -moz-opacity: 0.4; */
  /* -khtml-opacity: 0.4; */
  /* opacity: 0.4; */
}

#title-text {
  font-size: 45px;
  font-family: khmer;
  color: white;
  text-align: center;
  width: 100%;
  margin: auto;
  position: absolute;
  top: 50%; 
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.dark-text {
  color: white
}


/*************************************************************************
/*
/* Overlays
/*
/************************************************************************/

.overlay-table, .overlay-row {
  top: 0;
  height: 100%;
  width: 100%;
}

.overlay-table {
  position: absolute;
  display: table;
}

.overlay-row {
  display: table-row;
}

.overlay {
  /* position: absolute; */
  display: table-cell;
  top: 0;
  height: 100%;
  width: 20%;
  background-color: black;
  /* overflow: hidden; */
  /* background: url('/assets/reveal-none.png') no-repeat center center fixed; */

  /* -webkit-background-size: cover; */
  /* -moz-background-size: cover; */
  /* -o-background-size: cover; */
  /* background-size: cover; */

  /* display: none; */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}

.active {
  /* -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; */
  /* filter: alpha(opacity=100); */
  /* -moz-opacity: 1; */
  /* -khtml-opacity: 1; */
  /* opacity: 1; */

  /* height: 100%; */
}

/* .overlay-fade { */
  /* transition: height 2s ease-in-out; */
  /* -moz-transition: height 2s ease-in-out; */
  /* -webkit-transition: height 2s ease-in-out; */
  /*  */
  /* transition: opacity 2s ease-in-out; */
  /* -moz-transition: opacity 2s ease-in-out; */
  /* -webkit-transition: opacity 2s ease-in-out; */
/* } */

/* #overlay-none { */
  /* background-image: url('/assets/reveal-none.png'); */
  /* display: block; */
/* } */

/* #overlay-1 { */
/*   background-image: url('/assets/reveal-1.png'); */
/* } */
/*  */
/* #overlay-2 { */
/*   background-image: url('/assets/reveal-2.png'); */
/* } */
/*  */
/* #overlay-3 { */
/*   background-image: url('/assets/reveal-3.png'); */
/* } */
/*  */
/* #overlay-4 { */
/*   background-image: url('/assets/reveal-4.png'); */
/* } */
/*  */
/* #overlay-5 { */
/*   background-image: url('/assets/reveal-5.png'); */
/* } */


/*************************************************************************
/*
/* Borders
/*
/************************************************************************/
.full-divider-right {
  border-right: 1px white solid;
}

.high-divider-right, .low-divider-right, 
.high-divider-left, .low-divider-left {
  /* left: 0; */
  /* right: 0; */
  width: 20%;
  position: absolute;
  /* display: inline-block; */
  height: 44%;
}

.high-divider-right, .low-divider-right, {
  border-right: 1px white solid;
}


.high-divider-left, .low-divider-left, {
  border-left: 2px white solid;
}

.high-divider-right {
  top: 0;
}

.low-divider-right {
  bottom: 0;
}


/*************************************************************************
/*
/* Sign-in links and notices
/*
/************************************************************************/
.sign_in, .notice, .alert {
  position: absolute;
  bottom: 0.5%;
  padding: 0;
  margin: 0;
  z-index: 1000;
}

.sign_in {
  right: 1%;
}

.notice, .alert {
  left: 50%;
  margin: 0 auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  color: white;
}
