#titlebar {
  position: absolute;
  left: 3%;
  font-family: khmer;
  color: white;

  #js-toggle-menu {
    min-width: 60px;
    width: 60px;
    display: table-cell;
    border-spacing: 0.3em 0.3em;

    .line-wrapper {
      display: table-row;
    }

    .toggle-menu-line {
      display: table-cell;
      width: 50px;
      height: 6px;
      background-color: black;
    }
  }

  .breadcrumbs {
    font-size: 1.5em;
    display: table-cell;
    vertical-align: middle;

    a {
      color: white;
    }
  }
}
