.grid-slider {
  background-color: transparent !important;

  .gs-caption {
    background-color: transparent !important;
    text-align: center;
  }
  
  .work-tile {
    .gs-wrapper {
      border-width: 0 !important;
    }
  }
}
