/*####################################################################*/
/*#
/*#   Grid Slider
/*#
/*####################################################################*/
.grid-slider {
  background-color: transparent !important;

  .gs-caption {
    background-color: transparent !important;
    text-align: center;
  }

  .gs-wrapper {
    border-width: 0 !important;
  }

  .collection-tile {
    .gs-wrapper {
      box-shadow: 5px 5px 0 #444;
    }
  }


  /*--------------------------------------------------------------------*/
  /*-   Slide next/prev buttons
  /*--------------------------------------------------------------------*/
  .gs-prev div, .gs-next div {
    height: 25px;
  }

  .gs-prev  div {
    background-position: -17px 4px;
  }

  .gs-next  div {
    background-position: -16px -19px;
  }

}
