<div id="titlebar">
  <div id="js-toggle-menu" class="fake-link">
    <div class="line-wrapper">
      <div class="toggle-menu-line"></div>
    </div>
    <div class="line-wrapper">
      <div class="toggle-menu-line"></div>
    </div>
    <div class="line-wrapper">
      <div class="toggle-menu-line"></div>
    </div>
  </div>

  <div class="breadcrumbs">
    <%= link_to "Andrada Popan Dorca", root_path %>
    <%= yield(:breadcrumbs) %>
  </div>
</div>
