<div id="titlebar">
  <div id="js-toggle-menu">
    <div class="toggle-menu-line" id="top"></div>
    <div class="toggle-menu-line" id="middle"></div>
    <div class="toggle-menu-line" id="bottom"></div>
  </div>

  <%= link_to "Andrada Popan Dorca", root_path %>
  <%= yield(:breadcrumbs) %>
</div>
